{% extends "layout.html" %}

{% block title %}Muokkaa profiilia{% endblock %}

{% block content %}
<h2>Muokkaa profiilia</h2>

<form action="/update_profile" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <p>Profiilikuva: <br>
       <input type="file" name="image" accept=".jpg">
    </p>

    <p>Ikä: <br>
       <input type="number" name="age" min="1" max="150" value="{{ user.age or '' }}">
    </p>

    <p>Bio: <br>
       <textarea name="bio" rows="5" cols="50">{{ user.bio or '' }}</textarea>
    </p>

    <input type="submit" value="Tallenna">
</form>
{% endblock %}

