{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}

{% block content %}
<h2>Luo uusi tunnus</h2>

<form action="/create" method="post" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

  <p>
    Tunnus: <br />
    <input type="text" name="username" required />
  </p>

  <p>
    Salasana: <br />
    <input type="password" name="password1" required />
  </p>

  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" required />
  </p>

  <p>
    Ikä: <br />
    <input type="number" name="age" min="1" max="150" required />
  </p>

  <p>
    Bio: <br />
    <textarea name="bio" rows="5" cols="50" required></textarea>
  </p>
  
  <p>
    Profiilikuva (jpg, max 100kb): <br>
    <input type="file" name="image" accept=".jpg">
  </p>

  <p>
    <input type="submit" value="Luo tunnus" />
  </p>
</form>

<p>
  Onko sinulla jo tunnus? <a href="/login">Kirjaudu tästä</a>
</p>
{% endblock %}

